@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,600");
h1, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 200; }

p, li {
  font-size: 20px; }

.portfolio-container {
  min-height: 800px; }

.portfolio-grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px; }

.card-holder {
  display: flex;
  flex-wrap: wrap; }

.sort-buttons-div {
  display: flex;
  justify-content: center; }

.sort-button {
  height: 50px;
  width: 130px;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid gray; }

.sort-button:focus {
  outline: 0; }

.sort-button:hover {
  background-color: #acd6ce;
  color: #ffffff; }

.headline-div {
  margin-top: 15px;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 1200px) {
  .portfolio-grid {
    width: 900px; } }

@media screen and (max-width: 900px) {
  .portfolio-grid {
    width: 600px; } }

@media screen and (max-width: 600px) {
  .portfolio-grid {
    width: 300px; } }
