@import 'variable';


.skills {
  color: $dk-gray;
  padding: 20px;
  font-weight: 200;
}

.woman-icon {
  margin-bottom: -5px;
}

.skills-hed, .accent-hed {
  font-family: $title-font;
  font-size: 25px;
  font-weight: 300;
  margin: 20px 10px;
}

.skills-text {
  margin-top: 20px;
  color: $dk-gray;
}

.skills-top {
  display: flex;
  flex-direction: row;
}


.skills-icon {
  font-size: 30px;
}

.full-skills-lists {
  display: flex;
  flex-direction: row;
}


.skills-list {
  list-style-type: none;
  -webkit-padding-start: 10px;
}

.skills-list li {
  color: $dk-gray;
  padding-top: 5px;
}

.intro {
  width: 70%;
  padding-right: 20px;
}

.skills-box {
  width: 30%;
  background: $accent-color;
}

a.social-link {
    color: white;
    text-decoration: none;
    font-size: 40px;
}

a.social-link:hover {
  color: $lt-gray;
}

.category-head {
  display: flex;
  flex-direction: row;
  left: 9px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.category-description {
  margin-left: 20px;
  margin-top: 5px;
}


.bullet {
  border-radius: 50%;
  border: 1px solid $secondary-accent;
  padding: 0px 12px;
  margin-right: 34px;
  margin-left: 12px;
  background:#fff;
  height: 25px;
  width: 25px;
}

.resume-list-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.light {
  color: $lt-gray;
  font-size: 15px;
}


.list-icon {
  border-radius: 50%;
  padding: 2px;
  border: 1px solid $secondary-accent;
  height: 50px;
  width: 50px;
}

.skills-symbol {
  border-radius: 50%;
  padding: 2px;
  border: 1px solid $dk-gray;
  height: 50px;
  width: 50px;
}

.resume-list {
  margin-top: 10px;
}

.full-resume-list {
  position: relative;
}

.left-border:before{
  content:'';
  position:absolute;
  border-left:1px solid $secondary-accent;
  left:25px;
  bottom:0;
  z-index:-1;
  height:100%
}


.skills-bottom {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .skills-top {
    flex-direction: column;
  }
   .skills-box {
    width: 100%;
  } 
  .intro {
    width: 100%;
    padding: 5px;
  }
  .intro.skills-box {
    border-right: none;
      border-bottom: 2px solid white;
      padding-right: 0px;
      padding-bottom: 15px;
  }
}
